.booking__form {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: .3rem;
}

@media (max-width: 576px) {
    .booking__form {
        width: 90%;
    }
}
.booking__group {
    position: relative;
    padding: 0.2rem;

}

.booking__input {
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: .1rem;
    background-color: rgba(0,0,0, .1);
    border: none;
    border-bottom: 3px solid #36A0D4;
    width: 100%;
    display: block;
    transition: all .3s;
    position: relative;
    margin-top: .5rem;
    
}

.booking__group--privacy input[type=checkbox] {
    width: auto;
    display: inline;
}
.booking__group--privacy label {
    display: inline;
}

.booking__group--privacy {
    margin-top: 1rem;
    padding: 2rem 0;
    font-size: .8rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


.booking__input:focus {
    background-color: rgba(0,0,0,.2);
}

.form-error > .booking__input {
    border-bottom: 3px solid red;
}


.form-success > .booking__input {
    border-bottom: 3px solid green;
}

.form-success > .booking__label::after {
    content: "\2713";
    position: absolute;
    right: -3rem;
    color: green;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
}

.form-error > .booking__label::after {
    content: "\2717";
    position: absolute;
    right: -3rem;
    color: red;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
}

.booking__input:focus {
    outline: none;
}

/* .booking__input:valid { 
    border-bottom: 3px solid green;
}

.booking__input:invalid {
    border-bottom: 3px solid red;
} */

.booking__label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: .5rem;
    display: inline-block;
    opacity: 1;
    transition: all .3s;
    position: relative;

}

.booking__input:placeholder-shown + .booking__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
}

.booking__form input[type="date"] {
    width: 15rem;
}

.booking__radio-input {
    display: none;
}

.booking__radio-label {
    position: relative;
    padding-left: 4rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.booking__radio-button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    border: 0.3rem solid #e67235;
    position: absolute;
    top: -.3rem;
    left: 1rem;

}

.booking__radio-button::after {
    content: "";
    width: 1rem;
    height: 1rem;
    display: block;
    border-radius: 50%;
    background-color: #e67235;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s;
}

.booking__radio-input:checked + .booking__radio-label .booking__radio-button::after {
    opacity: 1;
}


.pristine-error {
    font-size: .8rem;
    color: red;
    display: block;
 
    margin-right: 10%;
}

.contact__form {
    width:100%;
    margin: 5rem auto;
    background-color: white;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: .3rem;

}

@media (max-width: 768px) {
    .contact__form {
        margin: 1rem auto;
    }
}

.contact__form h1 {
    font-size: 2.5rem;
    border-bottom: 0.2rem solid #36A0D4;
    display: inline-block;
    margin-bottom: 2rem;
}


.contact__form li a {
    color: inherit;
}

.conact__form a:hover {
    color:inherit;
}
/* @media (max-width: 32rem) {
    .contact__form {
        width: 90%;
    }
    
} */