
.gallery { 
    margin: 0 auto;
    width: 90%;
    /* border: .3rem solid #e67235; */
    background-color: #343a40;
    border-bottom-width: 2px;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(4deg);
    border-radius: .4rem;
    padding: .5rem;
    backface-visibility: hidden;
    position: relative;
    z-index: 0;
    /* overflow: hidden; */
}

.gallery--narrow {
    width: 60%;
}


.gallery__main{
    list-style: none;
    width: 100%;
    height: 80%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    transform: rotate(4deg) translateY(-5%);

  
}


.gallery__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    transition: all .5s;
    border: 0.3rem solid #91d3f5;
    border-radius: .4rem;
    opacity: 0;
    filter: brightness(85%);
    cursor: pointer;
}

.gallery__image.visible {
    z-index: 3;
    opacity: 1;
}
/* .gallery__image.hidden {
    z-index: 1;
    opacity: 0;
} */

.gallery__next{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    z-index: 5;
    opacity: 1;
    transition: all .5s;
    cursor: pointer;
}

.gallery__prev {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    z-index: 5;
    opacity: 1;
    transition: all .5s;
    cursor: pointer;
}

.gallery__thumbnails {
    width: 95%;
    height: 18%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: .4rem;
    position: absolute;
    bottom: 0.5rem;
    left: 2.5%;
    z-index: 0;
}

.gallery__thumbnail-item {
    width: 20%;
    height: 100%;
    /* float: left; */
    overflow: hidden;
    /* display: inline-block; */
    position: absolute;
    transition: all 1s;
    top: 0;
    left: 0;
}


.gallery__thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: .2rem solid #e67235;
    border-bottom: .2rem solid #e67235;
    border-right: .2rem solid #e67235;

    position: relative;
    
}



.gallery__thumbnail-item::after {
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    content: "\f002";
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transform: scale(0);
    transition: all .1s;
    pointer-events: none;
   
}

.gallery__thumbnail-item:hover::after {
    opacity: 1;
    transform: scale(1);

}



/* .gallery .gallery__thumbnails .gallery__thumbnail-item .gallery__thumbnail-image:hover::after{
   
} */

.gallery__thumbnail-item:first-child  .gallery__thumbnail-image {
    border-bottom-left-radius: .4rem;
    border-top-left-radius: .4rem;
    border-left: .2rem solid #e67235;
}
.gallery__thumbnail-item:last-child  .gallery__thumbnail-image {
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
    border-right: .2rem solid #e67235;
}

.u-rotate {
    transform: rotate(-4deg);
}


.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1000000;
    transition: all .5s;
}

.popup__close {
  
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
}

.popup__image {
    max-width: 80%;
    max-height: 90%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup__caption {
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.popup--hidden {
    opacity: 0;
    /* transform: scale(0); */
    top: -100vh;
    /* display: none; */
}