html {
    height: 100%;
}
body {
    min-height: 100%;
    /* padding-top: 2.5rem; */
    /* background: #90b1e4; */
    color: white;
    /* text-shadow: 3px 3px 4px rgba(0,0,0,0.5); */
}


/* .row {
    margin: none;
}

.container-fluid {
    padding: none;
} */

#mainHeading {
    height: 100vh;
    min-height: 300px;
    font-size: 2rem;
    text-align: center;
    background-image: url("../imgs/rocky-coast-2903524_1920.jpg");
    background-size: cover;
    background-position: center bottom;
}

@media (max-width: 768px) {
    #mainHeading {
        font-size: 1.2rem;
    }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/* .carousel {
  margin-bottom: 4rem;
} */
/* Since positioning the image, we need to help out the caption */



@media (min-width: 992px){
    .categories .col-lg-4:first-child {
        border-right: 1px solid white;
    }
    .categories .col-lg-4:last-child {
        border-left: 1px solid white;
    }
}

@media (max-width: 992px){
    .categories .col-lg-4:first-child {
        border-bottom: 1px solid white;
    }
    .categories .col-lg-4:last-child {
        border-top: 1px solid ;
    }
}


.navbar {
    background: rgb(0,0,0,0);
    /* text-shadow: none; */
}


@media (max-width: 992px) {
    .navbar {
    background-image: linear-gradient(to left,#77bfe2, #36a1d4);
    }
}

.navbar.scrolled {
    /* background: #77BFE2; */
    background-image: linear-gradient(to left, #77bfe2, #36a1d4);
    /* border-bottom: 2px solid #fce786; */
    transition: background 500ms;
}



#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
    /* background-color: rgb(144, 218, 247); */
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #d22d16;
}

#mainNavbar .navbar-brand {
    color: #e67235;
    font-size: 1.5rem;
}

/* #headingGroup span {
    color: #e67235;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
} */


/* button customisation */

.btn-primary {
    background-color: #e67235;
    /* border-radius: 0; */
    border: 2px solid white;
}

.btn-primary:hover {
    background-color: #c0561d;
    border-color: white;
}


.categories {
    /* background-color: #36a1d4; */
    text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
     background-image: linear-gradient(270deg, #77BFE2, #36a1d4);
    
}


.categories .col-lg-4:hover {
    font-size: 1.2rem;
    line-height: 1.4rem;
    transition: background-color 1000ms;
    /* transition: font-size 1000ms; */
}


#mobility {
    background-image: 
        url("../imgs/wheelchair.svg"),
        linear-gradient(270deg, #77BFE2, #36a1d4);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#baby {
    background-image: 
        url("../imgs/baby_bottle.svg"),
        linear-gradient(90deg, #77BFE2, #36a1d4);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#general {
    background-image: 
        url("../imgs/tv.svg"),
        linear-gradient(270deg, #77BFE2, #36a1d4);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.categories h2 {
    color: white;
}

ul {
    list-style-type: none;
}

.delivery {
    
    /* background-color: #e67235;  */
    background-image: linear-gradient(to right, #e67235, rgb(243, 158, 0));
    color: white;
}



.mission {
    text-shadow: none;
    font-size: 1.3rem;
    text-align: justify;
    
}

.mission h2 {
    color: #c0561d;
    /* font-family: 'Sunshiney'; */
    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
}



/* .delivery i {
    color: green;

} */

body {
    font-family: 'Baloo Bhaina 2';
}

footer { 
    font-weight: 200;
    color: rgb(200, 200, 200);
}

footer h4 {
    color: #e67235;
    padding-bottom: 0.7em;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-bottom: 1em;
}




