:root { 
    --main-color: #36A0D4;
    --light-main: #58bcee;
    
    --highlight-color: #e67235;
    --dark-highlight-color: #eb6821;
    --fancy-color: #ee2560;
    --background-color: white;
    --text-color: #343a40;

    
}


.container-fluid {
    overflow-x: hidden;
}



html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
body {
    /* gvisibility: hidden; */
    min-height: 100%;
    width: 100%;
    /* max-width: 100%; */
    /* overflow-x: hidden;  */
    /* padding-top: 2.5rem; */
    /* background: #90b1e4; */
    /* color: white; */
    color: var(--text-color);
    line-height: 150%;
    font-weight: 300;
    /* text-shadow: 3px 3px 4px rgba(0,0,0,0.5); */
}

main {
    position: relative;
    
    background-color: var(--background-color);
}

footer {
    position: relative;
    background-color: var(--text-color);
}

#mainHeading {
    height: 100vh;
    width: 100%!important;
    min-height: 300px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    background-image: url("../imgs/platform-3857885_1920.jpg");
    background-size: cover;
    background-position: center bottom;
    position: relative;
    color: var(--background-color);
}

#mainHeading img {
    z-index: 10;
}

#mainHeading p {
    z-index: 10;
}

/* overlay parent div with dark cover */
.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
}

@media (max-width: 768px) {
    #mainHeading {
        font-size: 1.2rem;
    }
}


/* down indicator in heading */
#mainHeading .down{
    z-index: 11;
    font-size: 5rem;
    position: absolute;
    bottom: 0.2em;
    color: var(--background-color);
}



.navbar {
    background: rgb(0,0,0,0); 
    width: 100%;
    transition: background-color 500ms ease-in 50ms;

    /* text-shadow: none; */
}

@media (max-width: 992px) {
    .navbar {
    /* background-image: linear-gradient(to left,#77bfe2, #36a1d4); */
    background-color: var(--main-color);
    }
}

.navbar.scrolled {
    /* background: #77BFE2; */
    /* background-image: linear-gradient(to left, #77bfe2, #36a1d4); */
    background-color: var(--main-color);
    transition: background-color 500ms ease-in 50ms;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;
    /* background-color: rgb(144, 218, 247); */
}

#mainNavbar .nav-link {
    color: var(--background-color);
}

#mainNavbar .nav-link:hover {
    color: var(--highlight-color);
}

#mainNavbar .navbar-brand {
    color: var(--highlight-color);
    font-size: 1.5rem;
}


.neu-button {
    background-color: var(--highlight-color);
    border: none;
    border-radius: 1em;
    /* box-shadow: 0.3em 0.3em 0.4em 0 rgba(0, 0, 0, 0.3),
                -0.3em -0.3em 0.8em 0 rgba(255, 255, 255, 0.3); */
    outline: none;
    padding: 0.4em 1.5em;
    color: white;
    font-weight: 300;
    
}

.neu-button:hover {
    color: white;
    text-decoration: none;
    box-shadow: inset 0.4em 0.4em 0.6em 0 rgba(0, 0, 0, 0.15),
                inset -0.5em -0.5em 1em 0 rgba(255, 255, 255, 0.15);
}

.neu-button:focus {
    outline: none;
}



.orange-button {
    background-color: var(--highlight-color);
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px #bb5d2a;
    position: relative;
    outline: none;
    padding: 5px 20px;
    color: white;
    letter-spacing: 0.02rem;
    outline: none;
    font-weight: 300;
    top: 0;
    
}

.orange-button:hover {
    background-color: var(--highlight-color);
    top: 3px;
    box-shadow: 0 3px var(--dark-highlight-color);
    text-decoration: none;
    color: white;
    transition-property: top, box-shadow;
    transition-duration: 200ms, 200ms;

}



.orange-button:active {
    background-color: var(--dark-highlight-color);
    outline: none;
    border: none;
    box-shadow: none;
    top: 6px;
    transform: rotate(360deg);
    transition-property: top, box-shadow;
    transition-duration: 200ms, 200ms;
}

.orange-button:focus {
    outline: none;
}

.orange_button a:hover {
    color: white;
}

.block {
    border-radius: 3em;
    /* border: 1px solid black; */
    margin: 0 1em;
    padding: 2em 1em;
    box-shadow: 0.4em 0.4em 0.9em  0 rgba(0, 0, 0, 0.2),
    0.5em 0.5em 1em 0 rgba(255, 255, 255, 0.55);
    background: linear-gradient(-45deg, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
    max-width: 20em;
}

.categories {
    line-height: 170%;
    font-size: 1.1rem;
    font-weight: 200;
    color: rgb(63, 63, 63);
    
}


.categories i {
    color: var(--main-color);
}


.categories .large-icon{
    font-size: 6rem;
    margin-bottom: 0.2em;
    /* float: right; */
}

.categories h2 {
    color: var(--main-color);
    font-weight: 200;
    text-align: center;
    border: none;
}

.categories .btn {
    display: table;
    margin: 0 auto;
}


/* @media (min-width: 992px){
    .categories .col-lg-4:first-child {
        border-right: 1px solid var(--main-color);
    }
    .categories .col-lg-4:last-child {
        border-left: 1px solid var(--main-color);
    }
}

@media (max-width: 992px){
    .categories .col-lg-4:first-child {
        border-bottom: 1px solid var(--main-color);
    }
    .categories .col-lg-4:last-child {
        border-top: 1px solid var(--main-color);
    }
} */

/* hidden for animation */
#mobility { 
    visibility: hidden;
}

#baby {
    visibility: hidden;
}

#general {
    visibility: hidden;
}


ul {
    list-style: none;
}

.mission {
    text-shadow: none;
    font-size: 1.rem;
    text-align: justify;
    
}



h1 {
    font-weight: 100;
    font-size: 5rem;
    color: var(--main-color);
}

h2.display-3 {
    color: var(--highlight-color);
    font-weight: 100;
    border-bottom: 1px solid var(--main-color);
    font-size: 4.5rem;
}

@media (min-width: 321px) and (max-width: 768px) {
    h2.display-3 {
        font-size: 3rem;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    h2.display-3 {
        font-size: 3.5rem;
    }
}





.mission i {
    color: var(--main-color);
}

#about {
    background-image: url("../imgs/beach-4397579_1920.jpg");
    background-size: cover;
    
}

#about-text {
    /* visibility: hidden; */
    position: relative;
    /* background-image: url("../imgs/rocky-coast-2903524_1920.jpg"); */
    background-image: linear-gradient(var(--main-color), var(--light-main));
    background-size: cover;
    color: white;
    font-weight:
    
}

#about-text #bottom-poly {
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
}

#about-text #top-poly {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
}

#about-text .col {
    padding-bottom:12vh;
    padding-top:12vh;
}

.delivery i {
    color: var(--main-color);
}

#delivery {
    visibility: hidden;
}





body {
    font-family: 'Poppins', sans-serif;
}

footer { 
    font-weight: 200;
    color: rgb(200, 200, 200);
}

footer a {
   color: rgb(200, 200, 200);
}

footer a:hover {
     color: rgb(243, 240, 240);
     text-decoration: none;
}

footer h4 {
    color: var(--highlight-color);
    padding-bottom: 0.7em;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-bottom: 1em;
    margin-top: 1em;
}

footer ul {
    margin: 0;
    padding: 0;
}

span.price {
    font-size: 2rem;
    color: var(--highlight-color);
}



.table tbody tr, .table tbody th, .table tbody td {
    border: none;
    font-weight: 300;
}

.table tbody th {
    border: none;
}

.table thead tr {
    border: none;
}

