html {
    height: 100%;
}
body {
    min-height: 100%;
    /* padding-top: 2.5rem; */
    /* background: #90b1e4; */
    color: white;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/* .carousel {
  margin-bottom: 4rem;
} */
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 75vh;
  /* background-color: #777; */
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 75vh;
}

.carousel h1 {
    /* color: orange; */
    font-family: 'Sunshiney';

    font-size: 10rem;
    font-weight: 500;

}

.carousel {
    font-size: 1.4rem;
}

@media (min-width: 992px){
    .categories .col-lg-4:first-child {
        border-right: 1px solid #77BFE2;
    }
    .categories .col-lg-4:last-child {
        border-left: 1px solid #77BFE2;
    }
}

@media (max-width: 992px){
    .categories .col-lg-4:first-child {
        border-bottom: 1px solid #77BFE2;
    }
    .categories .col-lg-4:last-child {
        border-top: 1px solid #77BFE2;
    }
}


@media (max-width: 576px) {
    .carousel h1 {
        font-size: 5rem;
    }
}

.navbar {
    background: rgb(0,0,0,0);
    /* text-shadow: none; */
}


@media (max-width: 992px) {
    .navbar {
        background: #77BFE2;
    }
}

.navbar.scrolled {
    background: #77BFE2;
    /* border-bottom: 2px solid #fce786; */
    transition: background 500ms;
}



#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
    /* background-color: rgb(144, 218, 247); */
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #d22d16;
}

#mainNavbar .navbar-brand {
    color: #e67235;
    font-size: 1.5rem;
}

/* #headingGroup span {
    color: #e67235;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
} */


/* button customisation */

.btn-primary {
    background-color: #e67235;
    border: none;
}

.btn-primary:hover {
    background-color: #c0561d;
}

.yb-t {
    border-top: 1px solid #fce786;
}

.yb-b {
    border-bottom: 1px solid #fce786;
}

.categories {
    background-color: #36a1d4;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    
}

#mobility {
    background-image: url("../imgs/wheelchair.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.categories .col-lg-4:hover {
    background-color: #77BFE2;
    font-size: 1.2rem;
    line-height: 1.4rem;
    transition: background-color 1000ms;
    /* transition: font-size 1000ms; */
}



#baby {
    background-image: url("../imgs/baby_bottle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#general {
    background-image: url("../imgs/tv.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.categories h2 {
    color: white;
}

ul {
    list-style-type: none;
}

.delivery {
    
    background-color: #e67235;
    color: white;
}



.mission {
    text-shadow: none;
}

.mission h2 {
    color: #c0561d;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}



/* .delivery i {
    color: green;

} */

body {
    font-family: 'Baloo Bhaina 2';
}

footer { 
    font-weight: 200;
    color: rgb(200, 200, 200);
}

footer h4 {
    color: #e67235;
    padding-bottom: 0.7em;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-bottom: 1em;
}